/* $Id:

/**
 * Default styles for noderef_widget_thumbnail.
 */
#node-form .noderef-widget-thumb {
  float:left; 
  padding-right: 8px; 
  position: static; 
  min-width:40px;
}

#node-form .noderef-widget-thumb img {
  border: 1px solid #CCC;
}